<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/score.css}">
	<title>Score Board</title>
	<script
      src="https://kit.fontawesome.com/112eea2fba.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
	<!-- Header -->
	<div th:insert="navbar.html :: navbar"></div>
	<div class="container-fluid">
	<h3>Score Board:</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Score</th>
		</tr>
		<tr th:each="person:${list}">
			<td th:text="${person.username}"></td>
			<td th:text="${person.totalCorrect}"></td>
		</tr>
	</table>
	<button class="btn btn-primary m-2" type="button" th:onclick="window.location.href='/'">Go homePage</button>
	</div>
	 <!--Footer-->
	<div th:insert="footer.html :: footer"></div>
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>